{% layout "template.liquid" %}

{% block content %}
    <div class="product-wrapper">
    <div class="breadcrumb">
        <a href="#">Women's</a> | <a href="#">Runners</a> | <span>Gel-Kayano</span>
    </div>
    <section class="product-container">
        <main class="product-images">
            <img src="/images/glamour_view.png" alt="shoes-side">
            <img src="/images/shoes.png" alt="shoes-side">
            <img src="/images/side_view.png" alt="shoes-side">
            <img src="/images/top_view.png" alt="shoes-side">
            <img src="/images/bottom_view.png" alt="shoes-side">
        </main>
        <aside class="product-info">
            <h1 class="product-title">{{ product.title | capitalize }}</h1>
            <h2>{{ product.handle | capitalize }}</h2>
            <h1 class="product-price">$ {{product.price}} CAD </h1>
            <p>{{product.description}}</p>
            
            <div class="shoe-size-container">
                <label class="label-size">Select Women's Size</label>
                <div class="sizes">
                    {% for variant in product.variants %}
                        <div class="shoe-size">
                            <span>{{ variant.title }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
                        
            <button>ADD TO CART +</button>
        </aside>
    </section>
    </div>
{% endblock %}